



<!--==========================
INSIDE HERO SECTION Section
============================-->
<section class="page-image page-image-about  md-padding" style="height: 280px">
    <h1 class="text-white text-center " style="position: absolute;bottom: 0;left:30%;" >Admin Categories</h1>
</section>

<!--==========================
ABOUTUS Section
============================-->
<section id="aboutus" class="md-padding" style="height: 500px">
    <div class="container">

        <div class="row">

            <div class="col-md-4">
                <form action="" method="POST" >

                    <div class="row">
                        <div class="col-md-12 ">
                            <div class="form-group">
                                <input class="form-control" name="name" type="text" placeholder="Post Category"
                                       required="required" data-validation-required-message="Added Category">
                                <p class="help-block text-danger"></p>
                            </div>

                        </div>


                        <div class="clearfix"></div>
                        <div class="col-lg-12 text-center">
                            <div id="success"></div>
                            <button  class="main-btn mt-0" type="submit">Add Category</button>
                        </div>

                    </div>

                </form>
            </div>

            <!-- GET CATEGORIES-->
            <div class="col-md-8">
                <table class="table table-hover table-bordered border-primary text-dark" style="font-size: 14px;">
                    <thead>
                    <tr>
                        <th scope="col" class="bg-secondary text-white">ID</th>
                        <th scope="col" class="bg-secondary text-white">NAME</th>
                        <th scope="col" class="bg-secondary text-white">DELETE</th>
                        <th scope="col" class="bg-secondary text-white">EDIT</th>
                    </tr>
                    </thead>
                    <tbody>
                    {{#each categories }}
                        <tr>
                            <th >{{ _id }}</th>
                            <td>
                                <span style="font-weight: bolder">
                                    {{ name }}
                                </span>
                            </td>
                            <td>
                                <a href="#">
                                    <button class="btn btn-danger">
                                        Delete
                                    </button>
                                </a>
                            </td>
                            <td>
                                <a href="#">
                                    <button class="btn btn-warning">
                                        Edit
                                    </button>
                                </a>
                            </td>
                        </tr>
                    {{/each}}

                    </tbody>
                </table>
            </div>
        </div>

    </div>
</section>


<footer >

</footer>
