

<div class="widget">
    <h3 class="mb-3">Category</h3>
    {{#each categories }}
        <div class="widget-category">
            <a href="#">{{name}}<span>(7)</span></a>

        </div>

    {{/each}}
</div>